<table class="dataTables" width="100%" id="pop_form">
    <tr>
        <td class="text">ID</td>
        <td class="input">
            <input type="text" name="ID" class="common-input" style="width:90%;" ng-model="formObject.list.ID">
        </td>
        <td class="text">NAME</td>
        <td class="input">
            <input type="text" name="NAME" class="common-input" style="width:90%;" ng-model="formObject.list.NAME">
        </td>
    </tr>
    <tr>
        <td class="text">COUNTRYCODE</td>
        <td class="input">
            <input type="text" name="COUNTRYCODE" class="common-input" style="width:90%;" ng-model="formObject.list.COUNTRYCODE">
        </td>
        <td class="text">DISTRICT</td>
        <td class="input">
            <input type="text" name="DISTRICT" class="common-input" style="width:90%;" ng-model="formObject.list.DISTRICT">
        </td>
    </tr>
    <tr>
        <td class="text">POPULATION</td>
        <td class="input">
            <input type="text" name="POPULATION" class="common-input" style="width:90%;" ng-model="formObject.list.POPULATION">
        </td>
    </tr>
    </tbody>
</table>
